!!!
%html{:lang => 'pt-br'}
  %head
    %meta{:charset => 'utf-8'}
    %title Campus Fila - Os últimos serão os primeiros
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/application.css'}
    %link{:rel => 'shortcut icon', :type => 'text/css', :href => '/images/favicon.png'}
    %script{:type => 'text/javascript', :src => 'http://www.google.com/jsapi'}
    :javascript
      google.load('jquery', '1.4.3');
    %script{:type => 'text/javascript', :src => '/scripts/application.js'}
    /[if IE]
      %script{:type => 'text/javascript', :src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
  %body
    #wrapper
      %header
        %h1#logo
          %a.image_replacement{:href => '#'} Campus Fila - Os últimos serão os primeiros
        %section#time
          %span.date Quinta-feira, 20 de janeiro de 2011
          %span.time #{Time.now.strftime("%H:%M")}
      #content
        %section#status
          %ul.queue
            %li
              %a{:href => '#'}
                %span.value Banheiro 
                %span{:class => "size _#{@banheiro['banheiro']}"}
            %li
              %a{:href => '#'}
                %span.value Refeitório 
                %span{:class => "size _#{@refeitorio['refeitorio']}"}
              %a{:href => '#'}
                %span.value Ônibus 
                %span{:class => "size _#{@onibus['onibus']}"}
              %a{:href => '#'}
                %span.value Bebedouro 
                %span{:class => "size _#{@bebedouro['bebedouro']}"}
              %a{:href => '#'}
                %span.value Entrada Principal 
                %span{:class => "size _#{@entrada_principal['entrada_principal']}"}
              %a{:href => '#'}
                %span.value Entrada Camping 
                %span{:class => "size _#{@entrada_camping['entrada_camping']}"}
        
      %footer
        © 2011 <strong>Campus Fila</strong>. Todos os direitos reservados.
        #thanks
          Design por <a href="http://twitter.com/caiotarifa" rel="external">@caiotarifa</a>, programado por <a href="http://twitter.com/marciogm" rel="external">@marciogm</a> e <a href="http://twitter.com/matheusca" rel="external">@matheusca</a>.
          
    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-20886408-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
